<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ingredients Today</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <!-- Stylesheets go here. -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" /> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
</head>
<body>
  <!-- Content goes here. -->
  <div id="app"></div>
  <!-- Scripts go here. -->
  <script src="https://use.fontawesome.com/0de54c62ea.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhva-c0kG4fgJObQ_HSJF-tPyoJRaFVw0"
      async defer></script>
  <script type="text/javascript" src="/js/global.bundle.js"></script>
</body>
</html>
