#shopping .listItem {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px; }

#shopping .anchor-top-margin {
  margin-top: 150px; }

#recipes .search-button {
  margin-left: 2px; }

#recipes .recipe-panel {
  margin-bottom: 15px; }
  #recipes .recipe-panel img {
    border: 5px outset;
    border-radius: 5px;
    width: 100%;
    height: 250px; }
  #recipes .recipe-panel .recipe-title {
    background-color: rgba(142, 142, 142, 0.85);
    position: absolute;
    padding: 10px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 17px;
    color: white;
    margin: 0; }

#recipes .recipe-directions {
  width: 100%;
  height: 250px; }

.modal-image {
  width: 100%;
  height: 300px;
  border-radius: 5px; }

#schedule .well {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px; }

#schedule .anchor-top-margin {
  margin-top: 150px; }

#payment .well {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px; }

#payment .anchor-top-margin {
  margin-top: 150px; }

#driver h1 {
  color: white; }

* {
  box-sizing: border-box; }

.lightBlue-background {
  background-color: #07a0c3; }

.green-background {
  background-color: #8ea604; }

.red-background {
  background-color: #d10000; }

.yellow-background {
  background-color: #f0c808; }

.lightBlue {
  color: #07a0c3; }

.green {
  color: #8ea604; }

.red {
  color: #d10000; }

.yellow {
  color: #f0c808; }

.overflow-scroll {
  overflow-y: scroll; }

.push-down {
  padding-top: 50px; }

.bring-to-front {
  z-index: 0; }

.header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.user-icon {
  height: 25px; }

.left-side-navbar {
  position: fixed;
  top: 55px;
  z-index: 1; }

.side-nav {
  display: flex;
  width: 100%;
  margin: 0 auto; }
  .side-nav .list-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none; }
  .side-nav a {
    height: 40px;
    margin: 10px 15px 0px 15px;
    border-radius: 5px; }
  .side-nav img {
    height: 35px;
    width: 75%; }

@media (min-width: 768px) {
  .left-side-navbar {
    height: 100vh; }
  .bring-to-front {
    z-index: 1; }
  .push-down {
    padding-top: 10px; }
  .side-nav {
    display: block;
    margin: 0 auto;
    margin-top: 20px; }
    .side-nav .list-group-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px; }
    .side-nav a {
      width: 33%;
      height: 80px;
      border-radius: 5px; }
    .side-nav img {
      height: 50px;
      width: 90%; }
  .anchor:before {
    display: block;
    content: " ";
    margin-top: -95px;
    height: 100px;
    visibility: hidden; } }

.main-section {
  position: absolute;
  right: 0;
  top: 55px; }

.full-screen {
  height: 100vh; }

.anchor:before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 115px;
  visibility: hidden; }
