@import "variables";
// border-right: 2px solid $red;
// border-top: 2px solid $red;
// transform: rotate(45deg);
.navigation {
    &.flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone-nav-item {
        margin: 0 auto;
    }
    z-index: 1;
    width: 100%;
    background-color: white;
    height: 20vh;
    bottom: 0;
    margin: 0 -15px;
    padding-top: 5%;
    position: fixed;
    .btn:focus,.btn:active:focus,.btn.active:focus,
    .btn.focus,.btn:active.focus,.btn.active.focus {
        outline: none;
    }
    .navigation-step {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 10px 0;
        transition: all .5s ease;
    }
    h3 {
        font-size: 14px;
        margin-top: 0;
    }
    .inactive {
        color: gray;
        background-color: transparent;
        cursor: not-allowed;
        pointer-events: none;
        &.btn {
            border: 2px solid gray;
        }
    }
    .red-background {
        border: 2px solid $red;
        background-color: transparent;
        &:hover {
            background-color: $red;
        }
    }
    .red-clicked {
        background-color: $red;
        border: none;
        &:hover {
            background-color: $red;
        }
    }
    .green-background {
        border: 2px solid $green;
        background-color: transparent;
        &:hover {
            background-color: $green;
        }
    }
    .green-clicked {
        background-color: $green;
        &:hover {
            background-color: $green;
        }
    }
    .yellow-background {
        border: 2px solid $yellow;
        background-color: transparent;
        &:hover {
            background-color: $yellow;
        }
    }
    .yellow-clicked {
        background-color: $yellow;
        &:hover {
            background-color: $yellow;
        }
    }
    .lightBlue-background {
        border: 2px solid $lightBlue;
        background-color: transparent;
        &:hover {
            background-color: $lightBlue;
        }
    }
    .lightBlue-clicked {
        background-color: $lightBlue;
        &:hover {
            background-color: $lightBlue;
        }
    }
    .darkBlue-background {
        border: 2px solid $darkBlue;
        background-color: transparent;
        &:hover {
            background-color: $darkBlue;
        }
    }
    .darkBlue-clicked {
        background-color: $darkBlue;
        &:hover {
            background-color: $darkBlue;
        }
    }
}

@media (min-width: 768px) {
    .navigation {
        margin: 0;
        margin-left: -2vw;
        &.flex {
          flex-direction: column;
        }
        background-color: transparent;
        z-index: 0;
        width: auto;
        height: 100vh;
        padding-top: 5%;
        h3 {
            font-size: 24px;
            margin-top: 20px;
        }
    }
}
