@import "variables";

.favorites {
  padding: 50px 25px 0 25px;
  box-shadow: -12px 0px 0px 0px $red;
  min-height: 100vh;
  img {
    width: 100%;
  }

  .list-group-item {
    margin-bottom: 5px;
    border-radius: 4px;
  }
  .favorite-heading {
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    .list-group-item-heading {
      font-weight: 400;
      text-align: center;
      &.favorite {
        font-style: italic;
        font-size: 14px;
        margin-top: 10px;
        font-weight: 300;
      }
    }
  }
  .list-group-item-text {
    font-size: 14px;
  }

  img {
    width: 250px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
    .favorites {
        padding: 80px 50px 0 35px;
        img {
          width: 300px;
        }
        .list-group-item-text {
          font-size: 16px;
        }
        .recipe-details {
          margin-top: 20px;
        }
    }

}
