#payment {
    .well {
            border: 1px solid black;
            background-color: rgba(0,0,0,0);
            border-radius: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
    }
    .anchor-top-margin {
        margin-top: 150px;
    }
}
