@import "variables";

#recipes {
    .search-button {
        margin-left: 2px;
    }
    .recipe-panel {
        margin-bottom: 15px;
        img {
            border: 5px outset;
            border-radius: 5px;
            width: 100%;
            height: 250px;
        }
        .recipe-title {
            background-color: rgba(142, 142, 142, 0.85);
            position: absolute;
            padding: 10px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            font-size: 17px;
            color: white;
            margin: 0;
        }
    }
    .recipe-directions {
        width: 100%;
        height: 250px;
    }
}
.modal-image {
    width: 100%;
    height: 300px;
}
