.schedule {
    box-shadow: -12px 0px 0px 0px $lightBlue;
    padding: 80px 50px 0 50px;
    min-height: 100vh;
    .well {
            border: 2px solid $lightBlue;
            background-color: whitesmoke;
            margin-top: 2px;
            margin-bottom: 30px;
    }
}
