#shopping {
    .listItem {
            border: 1px solid black;
            border-radius: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
    }
    .anchor-top-margin {
        margin-top: 150px;
    }

}
