@import "variables";

.sign-in-page {
  .background {
    min-height: 100vh;
    background: url('../assets/veggies.jpg') space fixed center;
    background-size: cover;
    justify-content: flex-start;
  }
    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  .form {
    background-color: rgba(101, 101, 101, 0.50);
    color: white;
    h1 {
      color: white;
      font-weight: 300;
      &:first-child {
        align-self: flex-start;
      }
      &:nth-child(3) {
        align-self: flex-end;
      }
    }
    h3 {
      font-weight: 400;
      margin: 10px;
    }
    button {
      margin-top: 70px;
      background-color: rgba(240, 200, 8, 0.6);
      border: 2px solid $yellow;
    }
  }
}

//  .welcome-header {
//    position: fixed;
//    z-index: 1;
//    background-color: white;
//    width: 100%;
//    height: 70px;
//    padding: 0 30px;
//    .log-in {
//      color: black;
//      h3 {
//        display: inline-block;
//        font-size: 16px;
//      }
//      img {
//        height: 25px;
//        margin-left: 5px;
//      }
//    }
//  }
//  .get-started {
//    .cookers {
//      height: 91vh;
//      background-image: url('../assets/ingredients.jpg');
//      background-position: center;
//      background-attachment: fixed;
//      background-size: cover;
//      background-repeat: space;
//      justify-content: flex-start;
//    }
//    .cooker {
//      height: 91vh;
//      background-color: rgba(101, 101, 101, 0.5);
//      box-shadow: 20px -10px 40px 15px rgba(101, 101, 101, 0.5);
//      padding: 0 40px;
//      h1 {
//        color: white;
//        font-weight: 300;
//        &:first-child {
//          align-self: flex-start;
//        }
//        &:nth-child(3) {
//          align-self: flex-end;
//        }
//      }
//      h3 {
//        font-weight: 400;
//        margin: 10px;
//      }
//      button {
//        margin-top: 70px;
//        background-color: rgba(240, 200, 8, 0.6);
//        border: 2px solid $yellow;
//      }
//    }
//  }
//}
