@import "variables";
@import "shoppingList";
@import "recipes";
@import "schedule";
@import "payment";
@import "driver";
@import "welcome";
@import "cooker";
@import "orderStatus";
@import "driverNav";
@import "favorites";

* { box-sizing: border-box; }
.lightBlue-background { background-color: $lightBlue; }
.green-background { background-color: $green; }
.red-background { background-color: $red; }
.yellow-background { background-color: $yellow; }
.grey-background { background-color: $grey; }
.lightBlue { color: $lightBlue; }
.green { color: $green; }
.red { color: $red; }
.yellow { color: $yellow; }
.overflow-scroll { overflow-y: scroll; }
// end global

#map {
  height: 100%;
  width: 100%;
}


// start top navbar
.header {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.user-icon {
    height: 25px;
}
// end top navbar


.heading {
    font-weight: 400;
    font-size: 34px;
}
.section-background {
    background-color: whitesmoke;
    padding-bottom: 20vh;
}
.driver-component {
    padding-bottom: 13vh;
}

// end main content section

// transition between screens
.component-appear {
  opacity: 0.01;
}

.component-appear.component-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

// animations for lists within components
.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media (min-width: 768px) {
  .section-background {
    padding-bottom: 0;
  }
}
